body{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}

#response {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 80%;
    max-width: 800px;
    height: 300px;
    overflow-y: auto;
}

#response p {
    margin: 5px;
}

button {
    margin: 20px;
}

#main-part {
    display: none;
    align-items: center;
    flex-direction: column;
}

.fun-buttons {
    display: flex;
    flex-direction: row;
    
}

